<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?response_type=token&client_id=b5c0f5a4-2a0f-4222-9b7f-e6920de13f63&redirect_uri=http%3A%2F%2Flocalhost%3A5000/auth&scope=https://outlook.office.com/Calendars.Read https://outlook.office.com/Tasks.Read&response_mode=fragment&nonce=1234$state=12345">
        Login
    </a>
    <br />
    <br />
    Access Token:
    <br />
    <br />
    <div id="result"></div>
</body>
<script>
    var hashes = window.location.hash.replace("#", "").split("&")
    var resultDiv = document.getElementById('result')
    hashes.forEach(h => {
        parts = h.split('=');
        if (parts[0] === 'access_token') {
            resultDiv.innerText = parts[1];
        }
    });
</script>
</html>
